# Platito Environment Variables

# Set to true to force In-Memory Mock Adapter (zero-config local dev & tests)
NEXT_PUBLIC_USE_MOCK=true

# Platform Markup Percentage (Default 20%)
NEXT_PUBLIC_PLATFORM_MARKUP_PERCENTAGE=20
NEXT_PUBLIC_PLATFORM_NAME=Platito

# Firebase Configuration (Live Mode)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
